<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/poll_list.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <%- include('includes/notification.ejs') %>
    <main id="poll-list-container">
        <% if (!locals.polls || locals.polls.length === 0) { %>
            <h1>No polls found</h1>
        <% } else { %>
            <table id="poll-list-table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Title</td>
                        <td>Start</td>
                        <td>Deadline</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (let p of polls) { %> 
                        <tr>
                            <td><p><%= p.id %></p></td>
                            <td>
                                <a href="/polls/view/<%=p.id%>" class="poll-title-link">
                                    <h3><%= p.title %></h3>
                                </a>
                            </td>
                            <td><p><%= new Date(p.started).toLocaleString() %></p></td>
                            <td><p><%= new Date(p.finished).toLocaleString() %></p></td>
                            <td>
                                <div class="action-buttons-container">
                                    <a href="/polls/edit/<%=p.id%>" class="btn edit-btn">Edit</a>
                                    <a href="/polls/delete/<%=p.id%>" class="btn delete-btn">Del</a>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } %>
    </main>
    <script src="/js/index.js"></script>
</body>
</html>
