<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Form</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <form action="http://localhost:3000/polls/save/<%=locals.id%>" method="post" id="poll-form">
        <div class="input-container">
            <label for="title">Title</label>
            <input 
                type="text" name="title" placeholder="Title" id="title-input" 
                value="<%= locals.title %>"
            />
        </div>
        <div class="input-container">
            <label for="title">Deadline</label>
            <input 
                type="datetime-local" name="finished" id="finished-input" 
                value="<%= locals.finished %>" 
            />
        </div>
        <div id="form-options-container">
            <ol id="form-options-list">
                <% if (!locals.options) { %> 
                    <li><input type="text" class="form-poll-option" name="options"></li>
                    <li><input type="text" class="form-poll-option" name="options"></li>
                    <li><input type="text" class="form-poll-option" name="options"></li>
                <% } else { %>
                    <% for(let i=0; i < locals.options.length; i++) { %>
                        <li>
                            <input 
                                type="text" class="form-poll-option" name="options" 
                                value="<%= options[i] %>"
                            >
                            <% if(i >= 3) { %>
                                <button onclick="deleteParent" type="button" class="delete-option-btn">x</button>
                            <% } %>
                        </li>
                    <% } %>
                <% } %>
            </ol>
            <button id="add-option-btn" type="button">+</button>
        </div>
        <button type="submit">Save Poll</button>
    </form>
    
<script>
    const pollForm = document.getElementById('poll-form')
    const formOptionsList = document.getElementById('form-options-list')
    const addOptionBtn = document.getElementById('add-option-btn')
    const deleteParent = (e) => {
        e.preventDefault()
        console.log(e.target)
        e.target.parentElement.remove()
    }

    addOptionBtn.addEventListener('click', (e) => {
        e.preventDefault()
        const listElement = document.createElement("li")
        listElement.innerHTML = '<input type="text" class="form-poll-option" name="options">'

        const removeButton = document.createElement("button")
        removeButton.innerHTML = "x"
        removeButton.setAttribute('type', 'button')
        removeButton.classList.add('delete-option-btn')
        removeButton.addEventListener('click', deleteParent)

        listElement.appendChild(removeButton)
        formOptionsList.appendChild(listElement)
    })

    Array.from(document.getElementsByClassName('delete-option-btn')).forEach(e => {
        e.addEventListener('click', deleteParent)
    })
</script>
</body>
</html>
